{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-hooks"],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended", "airbnb"],
  "rules": {
    "react/hook-use-state": "warn",
    "react/no-danger": "warn",
    "react/no-multi-comp": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
